<footer>
  <div class="f-info container-fluid">
    <div class="f-copyright">
      <div>&copy; 2025 WanderLust,Inc.</div>
      <div class="f-info-links">
        &middot;
        <a href="/privacy">Privacy</a>
        &middot;
        <a href="/terms">Terms</a>
        &middot;
        <a href="/sitemap">Sitemap</a>
        &middot;
        <a href="/details">Company details</a>
      </div>
    </div>
    <div class="f-info-socails">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
    </div>
  </div>
</footer>
